<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <th:block th:fragment="html_head(page_title)">
        <meta charset="UTF-8">
        <title th:text="${page_title}"></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Montserrat+Subrayada&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/css/user-homepage.css}">
    </th:block>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/top_header_ecom.png}" alt="" class="logo me-2" width="200" height="50">
            </a>
        </div>
        <nav class="sticky">
            <ul class="menu">
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="">Recharge and payments</a></li>
                <li><a href=""> Sell On E-Shoppy</a></li>
                <li><a th:href="@{/cart/checkout}">Cart</a></li>
                <th:block th:if="${username.equals('anonymousUser')}">
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/user/addUser}">Signup</a></li>
                </th:block>

                <li th:if="${username != 'anonymousUser'}">
                    <a class="text-primary fs-6">
                        <i class="fas fa-user me-2 text-warning"></i><span th:text="${username}"></span>
                    </a>
                </li>

                <li th:if="${username != 'anonymousUser'}"><a th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt text-danger mx-2 me-1"></i> Logout
                </a>
                </li>


            </ul>
        </nav>
        <div class="container">
            <div class="row mt-4 gx-0">
                <div class="col-md-2 mb-3">
                    <img th:src="@{/images/top_header_ecom.png}" alt="" class="logo me-2" width="200" height="50">
                </div>
                <div class="col-md-10">
                    <form th:action="@{/user/filter}" th:object="${SearchItem}" method="post">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control"
                                   placeholder="Search Products" th:field="*{filterValue}">
                            <button class="btn btn-warning" type="submit"><i class="fas fa-search me-3"></i></button>
                            <a th:href="@{/cart/checkout}">
                                <button type="button" class="btn btn-light">
                                    <i class="fas fa-cart-plus"></i> <span
                                        class="badge badge-danger fs-5 text-dark m-0 p-0"
                                        th:text="${productsNum}"></span>
                                </button>
                            </a>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row text-end" style="background-color: #F5F5F5; padding: 20px;">
                            <div class="col-md-4 text-start">Product List</div>
                            <div class="col-md-4"><i class="fas fa-heart text-danger me-3"></i>Add to wish list</div>
                            <div class="col-md-4">
                                <a th:href="@{/cart/removeAll}">
                                    <i class="fa-solid fa-trash text-danger me-3"></i>Remove All
                                </a>
                            </div>
                        </div>
                        <div class="row" th:each="p,Index:${product}">
                            <div class="col-md-2 my-2">
                                <img th:src="${p.filePath}" alt="image_from_db" class="img-fluid border" width="100"
                                     height="100">

                            </div>
                            <div class="col-md-5 my-2">
                                <div class="fs-5" th:text="${p.title}"></div>
                                <div class="lead fs-6"
                                     style="max-height: 90px;overflow: auto;" th:text="${p.description}">

                                </div>
                            </div>
                            <div class="col-md-3 my-2 ">
                                <div class="fs-4 text-center my-5" th:text="${p.price}"></div>
                            </div>
                            <div class="col-md-2 my-2">
                                <a th:href="@{/cart/removeItem/} + ${p.id}">
                                    <i class="fa-solid fa-trash text-danger me-3 fs-4 my-5"></i>
                                </a>
                            </div>

                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3">
                            <div class="fs-5">
                                Order Summary
                            </div>
                            <div class="fs-6 text-muted">
                                Subtotal( <span th:text="${productsNum}"></span> items)
                            </div>
                            <hr>
                            <div class="fs-6 ">
                                <div class="row mt-3">
                                    <div class="col-6 text-start fs-5 lead">Total</div>
                                    <div class="col-6 text-end text-warning fs-5" th:text="${totalPrice}"></div>
                                    <div class="col-12 my-4">
                                        <span th:if="${username == 'anonymousUser'}">
                                        <a th:href="@{/login}">
                                            <button class="btn btn-outline-warning checkoutBtn">Checkout</button>
                                        </a>
                                            </span>
                                        <span th:if="${username != 'anonymousUser'}">
                                               <form action="https://uat.esewa.com.np/epay/main" method="POST">
                                                <input th:value="${totalPrice}" name="tAmt" type="hidden">
                                                <input th:value="${totalPrice}" name="amt" type="hidden">
                                                <input value="0.0" name="txAmt" type="hidden">
                                                <input value="0.0" name="psc" type="hidden">
                                                <input value="0.0" name="pdc" type="hidden">
                                                <input value="EPAYTEST" name="scd" type="hidden">
                                                <input value="ee2c3ca1-696b-4cc5-a6be-2c40d929d453" name="pid" type="hidden">
                                                <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su">
                                                <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
                                                <input value="Proceed to Pay" type="submit" class="btn btn-outline-warning checkoutBtn">
                                                </form>
                                            </span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid m-0 p-0">
    <div class="footer mt-5" id="section4" style="background-color: rgb(252, 214, 108);">
        <div class="container">
            <div class="row pt-4 py-3">
                <div class="col-md-3 col-6">
                    <div class="subheading align-self-center" id="footermy">E-Shoppy</div>
                </div>
                <div class="col-md-3 col-sm-6 col-6" id="footermy2">
                    <div class="subheading">Navigation</div>
                    <ul class="list-unstyled ">
                        <li class="list-item text44 mt-2 mb-1"><a href="#" class="text-decoration-none text-dark">
                            Home</a></li>
                        <li class="list-item text44 mb-1"><a href="#"
                                                             class="text-decoration-none text-dark">Services</a></li>
                        <li class="list-item text44 mb-1"><a href="" target="_blank"
                                                             class="text-decoration-none text-dark"> Contact Us</a></li>
                        <li class="list-item text44 mb-1"><a href="#" class="text-decoration-none text-dark">About
                            Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3  col-sm-6" id="footone">
                    <div class="subheading">Information</div>
                    <ul class="list-unstyled ">
                        <li class="list-item text44 mt-2 mb-1" id="contact">+977 9860916626</li>
                        <li class="list-item text44 mb-1">Abhishekthapa09@gmail.com</li>

                    </ul>
                </div>

                <div class="col-md-3  col-sm-6" id="foottwo">
                    <div class="subheading">Address</div>
                    <ul class="list-unstyled ">
                        <li class="list-item text44 mt-2 mb-1">Nepal, Bagmati Zone</li>
                        <li class="list-item text44 mb-1">ChanguNarayan Municipality</li>

                    </ul>
                </div>
                <div class="col-12 mt-4 text-center">
                    <p class="text44">Copyright ©2023 All rights reserved | <br class="d-sm-none"> Made by <span
                            class="madeby ">Abhishek Thapa.</span></p>
                </div>

            </div>

        </div>
    </div>
</div>

</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>