<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{/checkoutPage.html :: html_head('Login')}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login-register.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/top_header_ecom.png}" alt="" class="logo me-2" width="200" height="50">
            </a>
        </div>
        <nav class="sticky">
            <ul class="menu">
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="">Recharge and payments</a></li>
                <li><a href=""> Sell On E-Shoppy</a></li>
                <li><a th:href="@{/cart/checkout}">Cart</a></li>
                <th:block th:if="${username.equals('anonymousUser')}">
                    <li><a th:href="@{/login}">Login</a></li>
                    <li><a th:href="@{/user/addUser}">Signup</a></li>
                </th:block>

                <li th:if="${username != 'anonymousUser'}" >
                    <a class="text-primary fs-6">
                        <i class="fas fa-user me-2 text-warning"></i><span th:text="${username}"></span>
                    </a>
                </li>

                <li th:if="${username != 'anonymousUser'}"><a th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt text-danger mx-2 me-1"></i> Logout
                </a>
                </li>


            </ul>
        </nav>
        <div class="col-md-8 mx-auto">
            <th:block th:if="${not #strings.isEmpty(message)}">
                <div class="my-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </symbol>
                        </svg>
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>

                        <span th:text="${message}"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                </div>
            </th:block>
        </div>


        <div class="col-md-8 border mx-auto login_tab mt-5">
            <form th:action="@{/login}" method="post" role="form">
                <div class="fs-5 mt-3">Welcome! Please Login to continue</div>
                <div class="small_text ">New member?<a th:href="@{/user/addUser}"><u>Register</u></a> here</div>
                <div class="row my-5 ">
                    <div class="col-md-8">
                        <div class="input-group input-group-lg mb-3">

                            <input type="text" name="username" placeholder="Username" id="username" class="form-control"
                                   required>
                        </div>
                        <div class="input-group input-group-lg mb-3">

                            <input type="password" name="password" class="form-control" placeholder="Password" id="password" required>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <button class="btn btn-warning " type="submit" value="Log in">Login</button>
                        <br>

                        <a th:href="@{/user/addUser}" class="btn btn-outline-info mt-3">Register</a>

                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>